version: '3'

services:
  mysqlsrv:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: "MySql2019!"
      MYSQL_DATABASE: "testedb"
    ports:
      - "3306:3306"
    volumes:
      - /home/renatogroffe/Desenvolvimento/Docker/Volumes/MySql:/var/lib/mysql
    networks:
      - mysql-compose-network

  adminer:
    image: adminer
    ports:
      - 8080:8080
    networks:
      - mysql-compose-network
  
  #appinfotec5hub:
  #  image: juniorfdl2/infotec5hub
  #  ports:
  #    - 5000: 80
  #  networks:
  #    - mysql-compose-network    

networks: 
  mysql-compose-network:
    driver: bridge